<div class="bg-cover bg-center py-20 flex flex-col justify-center items-center text-white" 
          style="background-image: url(<%= asset_path('top.svg') %>);">
  
  <div class="z-10 text-center">
    <div class="mb-6">
      <%= image_tag "good-sleep-joy.svg", alt:"Good-Sleep-Joy" %>
    </div>
    <p class="text-xs sm:text-sm md:text-xl lg:text-2xl mb-6 max-w-2xl mx-auto leading-relaxed">
      С║║ућЪсЂ«у┤ё3тѕєсЂ«1сЂ»уЮАуюасЂДтЇасѓЂсѓЅсѓїсЂдсЂёсЂЙсЂЎсђѓ
    </p>
    <p class="text-xs sm:text-sm md:text-xl lg:text-2xl mb-6 max-w-2xl mx-auto leading-relaxed">
      У│фсЂ«жФўсЂёуЮАуюасѓњтЈќсѓІсЂЊсЂесЂДсђЂсЂЮсЂ«ТЎѓжќЊС╗ЦтцќсѓѓтЁЁт«ЪсЂДсЂЇсЂЙсЂЎсђѓ<br>
      С║║ућЪсЂ«ТюгуЋфсЂ»сђјт»ЮсѓІсЂЊсЂесђЈсЂеУеђсЂБсЂдсѓѓжЂјУеђсЂДсЂ»сЂѓсѓісЂЙсЂЏсѓЊсђѓ<br>
    </p>
    <p class="text-xs sm:text-sm md:text-xl lg:text-2xl mb-6 max-w-2xl mx-auto leading-relaxed">
      сђјGood Sleep JoyсђЈсЂ»<br>
      сЃдсЃ╝сѓХсЃ╝тљїтБФсЂДуЮАуюасЂФжќбсЂЎсѓІТЃЁта▒сѓњтЁ▒ТюЅсЂЌсђЂ<br>
      Т»јТЌЦсЃЮсѓИсЃєсѓБсЃќсЂфТ░ЌТїЂсЂАсЂДт»ЮсѓІсЂЪсѓЂсЂ«ТЕЪУЃйсѓњтѓЎсЂѕсЂдсЂёсЂЙсЂЎсђѓ<br>
    </p>
  </div>
</div>

<div class="w-5/6 mx-auto max-w-screen-xl">
<!-- ТЕЪУЃйсЂ«УфгТўј -->
  <div class="mt-16 flex flex-col justify-center items-center">
    <h2 class="text-xl sm:text-3xl font-semibold my-6 ">
      <i class="fa-solid fa-angles-down"></i>сЂЊсЂ«сѓбсЃЌсЃфсЂДсЂДсЂЇсѓІсЂЊсЂе
      <i class="fa-solid fa-angles-down"></i>
    </h2>
  </div>

  <div class="container mx-auto w-full text-black">
    <div class="border-4 rounded-lg p-4 my-16">
    <!-- тидтЈ│тѕєтЅ▓ -->
      <div class="flex flex-wrap w-full xl:flex-nowrap gap-4">
      
      <!-- тидтЂ┤: -->
        <div class="w-full xl:w-1/2 flex flex-col justify-center">
          <div class="text-center mx-auto">
            <strong class="font-bold text-xl sm:text-3xl mt-2">сѓбсѓцсЃєсЃатЁ▒ТюЅТЕЪУЃй</strong>
            <p class="text-sm sm:text-xl mt-4">
            сЂѓсЂфсЂЪсЂ«уЮАуюасѓњТћ»сЂѕсѓІсѓбсѓцсЃєсЃасѓњС╗ќсЃдсЃ╝сѓХсЃ╝сЂесѓисѓДсѓбсЂЌсЂЙсЂЌсѓЄсЂє№╝Ђ<br>№╝ѕРђ╗тєЎуюЪсЂїсЂфсЂЈсЂдсѓѓТіЋуе┐тЈ»УЃйсЂДсЂЎ)
            </p>
            <div class="text-left mx-auto inline-block my-4 text-sm sm:text-xl mt-4">
              <div class="flex items-center gap-4">
                <%= image_tag "check.png", alt: 'Ухит║іТЎѓжќЊсЂ«сѓбсѓцсѓ│сЃ│'%>
                <p>сЂіТ░ЌсЂФтЁЦсѓісЂ«ТъЋ</p>
              </div>
              <div class="flex items-center gap-4">
                <%= image_tag "check.png", alt: 'Ухит║іТЎѓжќЊсЂ«сѓбсѓцсѓ│сЃ│'%>
                <p>сѓѕсЂЈуюасѓїсѓІсѓбсѓцсЃъсѓ╣сѓ»</p>
              </div>
              <div class="flex items-center gap-4">
                <%= image_tag "check.png", alt: 'Ухит║іТЎѓжќЊсЂ«сѓбсѓцсѓ│сЃ│'%>
                <p>сЃфсЃЕсЃЃсѓ»сѓ╣сѓ░сЃЃсѓ║...сЂфсЂЕ</p>
              </div>
            </div>
            <div class="flex justify-center gap-4 my-4 text-sm sm:text-xl">
              <%= image_tag "exclamation.png", alt: 'сѓесѓ»сѓ╣сѓ»сЃЕсЃАсЃ╝сѓисЃДсЃ│сЃъсЃ╝сѓ»сЂ«сѓбсѓцсѓ│сЃ│'%>
              <p>сЃГсѓ░сѓцсЃ│сЂДТіЋуе┐тЈ»УЃй</p>
              <%= image_tag "exclamation.png", alt: 'сѓесѓ»сѓ╣сѓ»сЃЕсЃАсЃ╝сѓисЃДсЃ│сЃъсЃ╝сѓ»сЂ«сѓбсѓцсѓ│сЃ│'%>
            </div>
          </div>
        
        <!-- сЃюсѓ┐сЃ│ -->
          <div class="flex flex-row flex-wrap justify-center gap-4 my-4">
            <%= link_to "ТіЋуе┐сЂЎсѓІ", new_item_post_path, class: "bg-sky-100 rounded-lg px-6 py-2 hover:bg-sky-300 shadow-xl" %>
            <%= link_to "ТіЋуе┐СИђУдД", item_posts_path, class: "bg-sky-100 rounded-lg px-6 py-2 hover:bg-sky-300 shadow-xl" %>
          </div>
        </div>

      <!-- тЈ│тЂ┤№╝ѕсѓ╣сЃџсЃ╝сѓ╣№╝Ѕ -->
        <div class="w-full xl:w-1/2 flex justify-center">
          <%= image_tag "item-top.svg", alt: 'сѓбсѓцсЃєсЃасЃѕсЃЃсЃЌсЃџсЃ╝сѓИ'%>
        </div>
      </div>
    </div>
  </div>

  <div class=" container mx-auto w-full text-black">
    <div class="border-4 rounded-lg p-4 my-16">
    <!-- тидтЈ│тѕєтЅ▓ -->
      <div class="flex flex-wrap w-full xl:flex-nowrap gap-4">
      
      <!-- тидтЂ┤: -->
        <div class="w-full xl:w-1/2 flex flex-col justify-center">
          <div class="text-center mx-auto">
            <strong class="font-bold text-xl sm:text-3xl mt-2">у┐њТЁБтЁ▒ТюЅТЕЪУЃй</strong>
            <p class="text-sm sm:text-xl my-4">
          сЂѓсЂфсЂЪсЂ«уЮАуюасѓњсѓхсЃЮсЃ╝сЃѕсЂЎсѓІу┐њТЁБсѓњТіЋуе┐сЂЌсЂдсђЂС╗ќсЂ«сЃдсЃ╝сѓХсЃ╝сЂесѓисѓДсѓбсЂЌсЂЙсЂЌсѓЄсЂє№╝Ђ<br>(Рђ╗тєЎуюЪСИЇУдЂсЂДсЂЎ)
            </p>
            <div class="text-left mx-auto inline-block my-4 text-sm sm:text-xl mt-4">
              <div class="flex items-center gap-4">
                <%= image_tag "check.png", alt: 'Ухит║іТЎѓжќЊсЂ«сѓбсѓцсѓ│сЃ│'%>
                <p>сЃфсЃЕсЃЃсѓ»сѓ╣сЂДсЂЇсѓІжБ▓сЂ┐уЅЕ</p>
              </div>
              <div class="flex items-center gap-4">
                <%= image_tag "check.png", alt: 'Ухит║іТЎѓжќЊсЂ«сѓбсѓцсѓ│сЃ│'%>
                <p>сЂљсЂБсЂЎсѓіуюасѓІсЂЪсѓЂсЂ«тиЦтцФ</p>
              </div>
              <div class="flex items-center gap-4">
                <%= image_tag "check.png", alt: 'Ухит║іТЎѓжќЊсЂ«сѓбсѓцсѓ│сЃ│'%>
                <p>ТёЈУГўсЂЌсЂдсЂёсѓІсЂЊсЂе...сЂфсЂЕ</p>
              </div> 
            </div>
            <div class="flex justify-center gap-4 my-4 text-sm sm:text-xl">
              <%= image_tag "exclamation.png", alt: 'сѓесѓ»сѓ╣сѓ»сЃЕсЃАсЃ╝сѓисЃДсЃ│сЃъсЃ╝сѓ»сЂ«сѓбсѓцсѓ│сЃ│'%>
              <p>сЃГсѓ░сѓцсЃ│сЂДТіЋуе┐тЈ»УЃй</p>
              <%= image_tag "exclamation.png", alt: 'сѓесѓ»сѓ╣сѓ»сЃЕсЃАсЃ╝сѓисЃДсЃ│сЃъсЃ╝сѓ»сЂ«сѓбсѓцсѓ│сЃ│'%>
            </div>
          </div>

        <!-- сЃюсѓ┐сЃ│ -->
          <div class="flex flex-row flex-wrap justify-center gap-4 my-4">
            <%= link_to "ТіЋуе┐сЂЎсѓІ", new_habit_post_path, class: "bg-sky-100 rounded-lg px-6 py-2 hover:bg-sky-300 shadow-xl" %>
            <%= link_to "ТіЋуе┐СИђУдД", habit_posts_path, class: "bg-sky-100 rounded-lg px-6 py-2 hover:bg-sky-300 shadow-xl" %>
          </div>
        </div>

      <!-- тЈ│тЂ┤№╝ѕсѓ╣сЃџсЃ╝сѓ╣№╝Ѕ -->
        <div class="w-full xl:w-1/2 flex justify-center">
          <%= image_tag "habit-top.svg", alt: 'у┐њТЁБсЃѕсЃЃсЃЌсЃџсЃ╝сѓИ'%>
        </div>
      </div>
    </div>
  </div>

  <div class=" container mx-auto w-full text-black">
    <div class="border-4 rounded-lg p-4 my-16">
    <!-- тидтЈ│тѕєтЅ▓ -->
      <div class="flex flex-wrap w-full xl:flex-nowrap gap-4">
      
    <!-- тидтЂ┤: -->
      <div class="w-full xl:w-1/2 flex flex-col justify-center">
        <div class="text-center mx-auto">
          <strong class="font-bold text-xl sm:text-3xl mt-2">3УАїсЃЮсѓИсЃєсѓБсЃќТЌЦУеўТЕЪУЃй</strong>
          <p class="text-sm sm:text-xl my-4">
          С╗іТЌЦсЂ«т░ЈсЂЋсЂфт╣ИсЂЏсѓњ3УАїсЂДУеўжї▓сЂЌсђЂсЃЮсѓИсЃєсѓБсЃќсЂфТ░ЌТїЂсЂАсЂД1ТЌЦсѓњухѓсѓЈсѓісЂЙсЂЌсѓЄсЂє!
          </p>
   
          <div class="text-left mx-auto inline-block my-4 text-sm sm:text-xl mt-4">
            <div class="flex items-center gap-4">
              <%= image_tag "check.png", alt: 'Ухит║іТЎѓжќЊсЂ«сѓбсѓцсѓ│сЃ│' %>
              <p>сЂѓсЂ«С║║сЂеУЕ▒сЂЏсЂЪ</p>
            </div>
            <div class="flex items-center gap-4">
              <%= image_tag "check.png", alt: 'Ухит║іТЎѓжќЊсЂ«сѓбсѓцсѓ│сЃ│' %>
              <p>Тў╝жБЪсЂїсЂісЂёсЂЌсЂІсЂБсЂЪ</p>
            </div>
            <div class="flex items-center gap-4">
              <%= image_tag "check.png", alt: 'Ухит║іТЎѓжќЊсЂ«сѓбсѓцсѓ│сЃ│' %>
              <p>УЎ╣сѓњУдІсЂЪ...сЂфсЂЕ</p>
            </div>
          </div>
         
          <div class="flex justify-center gap-4 my-4 text-sm sm:text-xl">
            <p>­Ъћњ С╗ќсЂ«сЃдсЃ╝сѓХсЃ╝сЂФсЂ»тЁгжќІсЂЋсѓїсЂЙсЂЏсѓЊ</p>
          </div>
          <div class="flex justify-center gap-4 my-4 text-sm sm:text-xl">
            <%= image_tag "exclamation.png", alt: 'сѓесѓ»сѓ╣сѓ»сЃЕсЃАсЃ╝сѓисЃДсЃ│сЃъсЃ╝сѓ»сЂ«сѓбсѓцсѓ│сЃ│' %>
            <p>сЃГсѓ░сѓцсЃ│сЂДСй┐ућетЈ»УЃй</p>
            <%= image_tag "exclamation.png", alt: 'сѓесѓ»сѓ╣сѓ»сЃЕсЃАсЃ╝сѓисЃДсЃ│сЃъсЃ╝сѓ»сЂ«сѓбсѓцсѓ│сЃ│' %>
          </div>
        </div>
      <!-- сЃюсѓ┐сЃ│ -->
        <div class="flex flex-row flex-wrap justify-center gap-4 mt-4">
          <%= link_to "ТЌЦУеўсѓњТЏИсЂЈ", new_diary_path, class: "bg-sky-100 rounded-lg px-6 py-2 hover:bg-sky-300 shadow-xl" %>
        </div>
      </div>

      <!-- тЈ│тЂ┤№╝ѕсѓ╣сЃџсЃ╝сѓ╣№╝Ѕ -->
        <div class="w-full xl:w-1/2 flex justify-center">
          <%= image_tag "diary-top.svg", alt: 'ТЌЦУеўсЃѕсЃЃсЃЌсЃџсЃ╝сѓИ'%>
        </div>
      </div>
    </div>
  </div>
</div>