<!-- 最後に①Railsと②DaisyUIを考慮する必要あり（繰り返しの多い構造をパーシャルを使用して整理する）-->
<div class="w-full">
  <%= image_tag "top.svg", class: "w-full h-auto"%>
</div>



<!-- 機能の説明 -->
<div class="mt-16 flex flex-col justify-center items-center">
  <h2 class="text-xl font-semibold mt-6 ">
    <i class="fa-solid fa-angles-down"></i>このアプリでできること
    <i class="fa-solid fa-angles-down"></i>
  </h2>
</div>


<div class=" container mx-auto w-full text-black">
  <div class="bg-gray-50 border-4 rounded-lg p-4 m-16 hover:border-gray-900 transition-300 cursor-pointer">
    <!-- 左右分割 -->
    <div class="flex flex-wrap w-full md:flex-nowrap gap-4">
      
      <!-- 左側: -->
      <div class="w-full md:w-1/2 flex flex-col justify-center">
        <div class="text-left mx-auto">
          <strong class-"font-bold text-xl mt-2">アイテム共有機能</strong>
          <p class="text-sm mt-2">
            睡眠関連アイテムを他のユーザーと共有する機能です。
          </p>
        </div>

        <!-- ボタン -->
        <div class="flex flex-row flex-wrap justify-center gap-4 mt-16">
          <%= link_to "投稿する", new_item_post_path, class: "bg-blue-500 text-white rounded-lg px-6 py-2 hover:bg-blue-600" %>
          <%= link_to "投稿一覧", item_posts_path, class: "bg-blue-500 text-white rounded-lg px-6 py-2 hover:bg-blue-600" %>
        </div>
      </div>

      <!-- 右側（スペース） -->
      <div class="w-full md:w-1/2">
        <img src="https://i.gyazo.com/b8579151990c976108c3aad1130d82f3.gif" alt="イメージ">
      </div>
    </div>
  </div>
</div>

<div class=" container mx-auto w-full text-black">
  <div class="bg-gray-50 border-4 rounded-lg p-4 m-16 hover:border-gray-900 transition-300 cursor-pointer">
    <!-- 左右分割 -->
    <div class="flex flex-wrap w-full md:flex-nowrap gap-4">
      
      <!-- 左側: -->
      <div class="w-full md:w-1/2 flex flex-col justify-center">
        <div class="text-left mx-auto">
          <strong class-"font-bold text-xl mt-2">習慣共有機能</strong>
          <p class="text-sm mt-2">
            睡眠前の習慣を他のユーザーと共有する機能です。
          </p>
        </div>

        <!-- ボタン -->
        <div class="flex flex-row flex-wrap justify-center gap-4 mt-16">
          <%= link_to "投稿する", new_habit_post_path, class: "bg-blue-500 text-white rounded-lg px-6 py-2 hover:bg-blue-600" %>
          <%= link_to "投稿一覧", habit_posts_path, class: "bg-blue-500 text-white rounded-lg px-6 py-2 hover:bg-blue-600" %>
        </div>
      </div>

      <!-- 右側（スペース） -->
      <div class="w-full md:w-1/2">
        <img src="https://i.gyazo.com/b8579151990c976108c3aad1130d82f3.gif" alt="イメージ">
      </div>
    </div>
  </div>
</div>

<div class=" container mx-auto w-full text-black">
  <div class="bg-gray-50 border-4 rounded-lg p-4 m-16 hover:border-gray-900 transition-300 cursor-pointer">
    <!-- 左右分割 -->
    <div class="flex flex-wrap w-full md:flex-nowrap gap-4">
      
      <!-- 左側: -->
      <div class="w-full md:w-1/2 flex flex-col justify-center">
        <div class="text-left mx-auto">
          <strong class-"font-bold text-xl mt-2">3行ポジティブ日記機能</strong>
          <p class="text-sm mt-2">
            就寝前に1日の良かった出来事を書き出す機能です。
          </p>
        </div>

        <!-- ボタン -->
        <div class="flex flex-row flex-wrap justify-center gap-4 mt-16">
          <%= link_to "使ってみる", "#", class: "bg-blue-500 text-white rounded-lg px-6 py-2 hover:bg-blue-600" %>
        </div>
      </div>

      <!-- 右側（スペース） -->
      <div class="w-full md:w-1/2">
        <img src="https://i.gyazo.com/b8579151990c976108c3aad1130d82f3.gif" alt="イメージ">
      </div>
    </div>
  </div>
</div>










