<!-- bg-cover:背景画像を要素いっぱいに広げる、bg-center:背景画像を中央に配置 h-screen:ビューポート（webサイトの表示領域）いっぱいの高さに設定-->
<!-- flex flex-col:で縦並び justify-center:縦方向で中央揃え items-center:横方向で中央揃え-->

<div class="bg-cover bg-center h-screen flex flex-col justify-center items-center text-white" 
          style="background-image: url(<%= asset_path('top.svg') %>);">
  
  <!-- メインコンテンツ（テキスト・ボタン） -->
  <div class="z-10 text-center">
    <h1 class="mb-6">
      <%= image_tag "good-sleep-joy.svg", alt:"Good-Sleep-Joy" %>
    </h1>
    <p class="text-sm sm:text-2xl mb-6 max-w-2xl mx-auto leading-relaxed">
      人生の約3分の1は睡眠で占められています。
    </p>
    <p class="text-sm sm:text-2xl mb-6 max-w-2xl mx-auto leading-relaxed">
      質の高い睡眠を取ることで、その時間以外も充実できます。<br>
      人生の本番は『寝ること』と言っても過言ではありません。<br>
    </p>
    <p class="text-sm sm:text-2xl max-w-2xl mx-auto leading-relaxed">
      『Good-Sleep-Joy』は<br>
    </p>
    <p class="text-sm sm:text-2xl mb-6 max-w-2xl mx-auto leading-relaxed">
      ユーザー同士で睡眠に関する情報を共有し、<br>
      毎日ポジティブな気持ちで寝るための機能を備えています。<br>
    </p>
  </div>
</div>




<!-- w-5/6で要素の幅を5/6に設定、mx-autoで中央揃え、max-w-screen-xlで要素の幅が1280px以上になると固定される-->
<div class="w-5/6 mx-auto max-w-screen-xl">
<!-- 機能の説明 -->
  <div class="mt-16 flex flex-col justify-center items-center">
    <h2 class="text-xl sm:text-3xl font-semibold my-6 ">
      <i class="fa-solid fa-angles-down"></i>このアプリでできること
      <i class="fa-solid fa-angles-down"></i>
    </h2>
  </div>


  <div class="container mx-auto w-full text-black">
    <div class="border-4 rounded-lg p-4 my-16 hover:border-gray-500 transition-300 cursor-pointer">
    <!-- 左右分割 -->
      <div class="flex flex-wrap w-full xl:flex-nowrap gap-4">
      
      <!-- 左側: -->
        <div class="w-full xl:w-1/2 flex flex-col justify-center">
          <div class="text-center mx-auto">
            <strong class="font-bold text-xl sm:text-3xl mt-2">アイテム共有機能</strong>
            <p class="text-sm sm:text-xl mt-4">
            あなたの睡眠を支えるアイテムを他のユーザーとシェアしましょう！
            </p>
            <div class="text-left mx-auto inline-block my-4 text-sm sm:text-xl mt-4">
              <div class="flex items-center gap-4">
                <%= image_tag "check.png", alt: '起床時間のアイコン'%>
                <p>お気に入りの枕</p>
              </div>
              <div class="flex items-center gap-4">
                <%= image_tag "check.png", alt: '起床時間のアイコン'%>
                <p>よく眠れるアイマスク</p>
              </div>
              <div class="flex items-center gap-4">
                <%= image_tag "check.png", alt: '起床時間のアイコン'%>
                <p>リラックスグッズ...など</p>
              </div>
            </div>
            <div class="flex justify-center gap-4 my-4 text-sm sm:text-xl">
              <%= image_tag "exclamation.png", alt: 'エクスクラメーションマークのアイコン'%>
              <p>ログインで投稿可能</p>
              <%= image_tag "exclamation.png", alt: 'エクスクラメーションマークのアイコン'%>
            </div>
          </div>
        
        <!-- ボタン -->
          <div class="flex flex-row flex-wrap justify-center gap-4 my-4">
            <%= link_to "投稿する", new_item_post_path, class: "bg-sky-100 rounded-lg px-6 py-2 hover:bg-sky-300 shadow-xl" %>
            <%= link_to "投稿一覧", item_posts_path, class: "bg-sky-100 rounded-lg px-6 py-2 hover:bg-sky-300 shadow-xl" %>
          </div>
        </div>

      <!-- 右側（スペース） -->
        <div class="w-full xl:w-1/2 flex justify-center">
          <%= image_tag "item-top.svg", alt: 'アイテムトップページ'%>
        </div>
      </div>
    </div>
  </div>

  <div class=" container mx-auto w-full text-black">
    <div class="border-4 rounded-lg p-4 my-16 hover:border-gray-500 transition-300 cursor-pointer">
    <!-- 左右分割 -->
      <div class="flex flex-wrap w-full lg:flex-nowrap gap-4">
      
      <!-- 左側: -->
        <div class="w-full xl:w-1/2 flex flex-col justify-center">
          <div class="text-center mx-auto">
            <strong class="font-bold text-xl sm:text-3xl mt-2">習慣共有機能</strong>
            <p class="text-sm sm:text-xl my-4">
          あなたの睡眠をサポートする習慣を投稿して、他のユーザーとシェアしましょう！
            </p>
            <div class="text-left mx-auto inline-block my-4 text-sm sm:text-xl mt-4">
              <div class="flex items-center gap-4">
                <%= image_tag "check.png", alt: '起床時間のアイコン'%>
                <p>リラックスできる飲み物</p>
              </div>
              <div class="flex items-center gap-4">
                <%= image_tag "check.png", alt: '起床時間のアイコン'%>
                <p>ぐっすり眠るための工夫</p>
              </div>
              <div class="flex items-center gap-4">
                <%= image_tag "check.png", alt: '起床時間のアイコン'%>
                <p>意識していること...など</p>
              </div> 
            </div>
            <div class="flex justify-center gap-4 my-4 text-sm sm:text-xl">
              <%= image_tag "exclamation.png", alt: 'エクスクラメーションマークのアイコン'%>
              <p>ログインで投稿可能</p>
              <%= image_tag "exclamation.png", alt: 'エクスクラメーションマークのアイコン'%>
            </div>
          </div>

        <!-- ボタン -->
          <div class="flex flex-row flex-wrap justify-center gap-4 my-4">
            <%= link_to "投稿する", new_habit_post_path, class: "bg-sky-100 rounded-lg px-6 py-2 hover:bg-sky-300 shadow-xl" %>
            <%= link_to "投稿一覧", habit_posts_path, class: "bg-sky-100 rounded-lg px-6 py-2 hover:bg-sky-300 shadow-xl" %>
          </div>
        </div>

      <!-- 右側（スペース） -->
        <div class="w-full xl:w-1/2 flex justify-center">
          <%= image_tag "habit-top.svg", alt: '習慣トップページ'%>
        </div>
      </div>
    </div>
  </div>

  <div class=" container mx-auto w-full text-black">
    <div class="border-4 rounded-lg p-4 my-16 hover:border-gray-500 transition-300 cursor-pointer">
    <!-- 左右分割 -->
      <div class="flex flex-wrap w-full lg:flex-nowrap gap-4">
      
    <!-- 左側: -->
      <div class="w-full xl:w-1/2 flex flex-col justify-center">
        <div class="text-center mx-auto">
          <strong class="font-bold text-xl sm:text-3xl mt-2">3行ポジティブ日記機能</strong>
          <p class="text-sm sm:text-xl my-4">
          今日の小さな幸せを3行で記録し、ポジティブな気持ちで1日を終わりましょう!
          </p>
   
          <div class="text-left mx-auto inline-block my-4 text-sm sm:text-xl mt-4">
            <div class="flex items-center gap-4">
              <%= image_tag "check.png", alt: '起床時間のアイコン' %>
              <p>あの人と話せた</p>
            </div>
            <div class="flex items-center gap-4">
              <%= image_tag "check.png", alt: '起床時間のアイコン' %>
              <p>昼食がおいしかった</p>
            </div>
            <div class="flex items-center gap-4">
              <%= image_tag "check.png", alt: '起床時間のアイコン' %>
              <p>虹を見た...など</p>
            </div>
          </div>
          <div class="flex justify-center gap-4 my-4 text-sm sm:text-xl">
            <%= image_tag "exclamation.png", alt: 'エクスクラメーションマークのアイコン' %>
            <p>ログインで使用可能</p>
            <%= image_tag "exclamation.png", alt: 'エクスクラメーションマークのアイコン' %>
          </div>
        </div>
      <!-- ボタン -->
        <div class="flex flex-row flex-wrap justify-center gap-4 mt-4">
          <%= link_to "日記を書く", new_diary_path, class: "bg-sky-100 rounded-lg px-6 py-2 hover:bg-sky-300 shadow-xl" %>
        </div>
      </div>

      <!-- 右側（スペース） -->
        <div class="w-full xl:w-1/2 flex justify-center">
          <%= image_tag "diary-top.svg", alt: '日記トップページ'%>
        </div>
      </div>
    </div>
  </div>
</div>










