<div class = "text-center my-8 p-4" >
  <div>
    <h1 class = "text-xl font-bold my-20">マイページ</h1>
  </div>

  <!-- プロフィール画像 -->
  <div class="max-w-xl mx-auto p-4 my-4 border rounded-lg shadow">
    <div class="flex justify-center">
     <div class="flex flex-col items-center">
        <%= image_tag current_user.avatar.url, alt: "プロフィール画像", class: "w-32 h-32 rounded-full shadow-lg border border-gray-200" %>
        <div class="mt-4">
          <h2 class = "font-bold"><%= current_user.name %></h2>
        </div>
      </div>
      <div class="px-4 flex justify-center"> 
        <table>
          <tr class="flex flex-col items-center">   
            <th class="px-2 flex items-center space-x-2">
              <%= image_tag "sun.png", alt: '起床時間のアイコン'%>
             <p class="text-xs sm:text-lg">起床時間</p>
            </th>
            <!-- strftime は、日時を好きな形式の文字列に変換するメソッド -->
            <td class="text-xs sm:text-lg font-bold"><%= current_user.wake_up_time&.strftime('%H:%M') %></td>
          </tr>

          <tr class="flex flex-col items-center">
            <th class="px-2 flex items-center space-x-2">
              <%= image_tag "moon.png", alt: '就寝時間のアイコン'%>
              <p class="text-xs sm:text-lg">就寝時間</p>
            </th>
            <!-- strftime は、日時を好きな形式の文字列に変換するメソッド -->
            <td class="text-xs sm:text-lg font-bold"><%= current_user.bed_time&.strftime('%H:%M') %></td>
          </tr>

          <tr class="flex flex-col items-center">
            <th class="px-2 flex items-center space-x-2">
              <%= image_tag "sleep.png", alt: '睡眠時間のアイコン'%>
              <p class="text-xs sm:text-lg">睡眠時間</p>
            </th>
            <td class="text-xs sm:text-lg font-bold"><p>※本リリース時実装</p></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="my-8">
      <%= link_to "プロフィールを編集", edit_profile_path ,class: "bg-blue-500 text-white rounded-lg px-6 py-2 hover:bg-blue-600"%>
    </div>
  </div>
  <div class="flex justify-center max-w-xl mx-auto border-b-2 mt-16 pb-2 mb-5">
    <h2 class="text-center text-xl font-bold">投稿した日記</h2>
  </div>
  <div class = "overflow-x-auto max-w-xl mx-auto p-4 my-4">
    <% if @diaries.present? %> 
      <table class="table-auto mx-auto">
        <tr>
          <th>日付</th>
          <th>タイトル</th>
        </tr>
        <% @diaries.each do |diary| %>
          <tr class="odd:bg-white even:bg-gray-100">
            <td class="px-6"><%= diary.date.strftime("%y/%m/%d") %></td>

            <!--resources :diaries, only: [:show]によって、diary_path(diary) は 自動的に diary.id を利用して "/diaries/:id" というURLを生成します。 -->
            <!-- diary_path(diary.id) と書かなくても、Rails は diary オブジェクトから id を自動的に抽出する  -->
            <td class="px-6"><%= link_to diary.title, diary_path(diary) ,class: "text-blue-500 underline" %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p class="text-center">投稿がありません</p>
    <% end %>
  </div>
  <div class ="my-8">
    <%= link_to "日記を書く", new_diary_path ,class: "bg-blue-500 text-white rounded-lg px-6 py-2 hover:bg-blue-600"%>
  </div>
</div>    


    



