<div class = "text-center my-8" >
  <div>
    <h1 class = "text-xl font-bold my-20">マイページ</h1>
  </div>

  <!-- プロフィール画像 -->
  <div class="flex justify-center">
    <%= image_tag current_user.avatar.url, alt: "プロフィール画像", class: "w-48 h-48 object-cover shadow-lg border border-gray-200" %>
  </div>
  
  <div class="mt-4">
    <h2 class = "font-bold"><%= current_user.name %></h2>
  </div>

  <div class="flex justify-center p-4"> 
    <table>
      <tr>
        <th class="p-4 flex justify-center">
          <%= image_tag "mail.png", alt: 'メールアドレスのアイコン'%>
        </th>
        <td><%= current_user.email %></td>
      </tr>
      
      <tr>   
        <th class="p-4 flex items-center space-x-4">
          <%= image_tag "sun.png", alt: '起床時間のアイコン'%>
          <p>起床時間</p>
        </th>
        <!-- strftime は、日時を好きな形式の文字列に変換するメソッド -->
        <td><%= current_user.wake_up_time&.strftime('%H:%M') %></td>
      </tr>

      <tr>
        <th class="p-4 flex items-center space-x-4">
          <%= image_tag "moon.png", alt: '就寝時間のアイコン'%>
          <p>就寝時間</p>
        </th>
        <!-- strftime は、日時を好きな形式の文字列に変換するメソッド -->
        <td><%= current_user.bed_time&.strftime('%H:%M') %></td>
      </tr>

      <tr>
        <th class="p-4 flex items-center space-x-4">
          <%= image_tag "sleep.png", alt: '睡眠時間のアイコン'%>
          <p>睡眠時間</p>
        </th>
        <td><p>※本リリース時実装（自動入力）</p></td>
      </tr>
    </table>

  </div>
  <%= link_to "プロフィールを編集", edit_profile_path ,class: "bg-blue-500 text-white rounded-lg px-6 py-2 hover:bg-blue-600"%>

  <div class="flex justify-center border-b-2 my-8 pb-2 mb-5">
    <h2 class="text-center text-xl font-bold">投稿した日記</h2>
  </div>
  <div class = "my-8">
    <% if @diaries.present? %> 
      <table class = "flex justify-center">
        <tr>
          <th></th>
          <th>date</th>
          <th>タイトル</th>
          <th></th>
        </tr>
        <% @diaries.each do |diary| %>
          <tr>
            <td><%= image_tag "carender.png", alt: '起床時間のアイコン'%></rd>
            <td><%= diary.date.strftime("%y/%m/%d") %></td>
            <td  class="px-8"><%= link_to diary.title,'#',class: "text-blue-500 underline" %></td>
            <td>削除と編集を書く</td>
          </tr>
        <% end %>
      </table>
      <div class ="my-8">
        <%= link_to "日記を書く", new_diary_path ,class: "bg-blue-500 text-white rounded-lg px-6 py-2 hover:bg-blue-600"%>
      </div>
    <% else %>
      <p class="text-center">投稿がありません</p>
    <% end %>
  </div>
</div>    
    



