<% content_for(:title, 'マイページ') %>
<div class = "text-center my-8 p-4" >
  <div>
    <h1 class = "text-xl font-bold my-20">マイページ</h1>
  </div>

  <!-- プロフィール画像 -->
  <div class="max-w-xl mx-auto p-4 my-4 border rounded-lg shadow">
    <div class="flex justify-center">
     <div class="flex flex-col items-center">
        <%= image_tag current_user.avatar.url, alt: "プロフィール画像", class: "w-32 h-32 rounded-full shadow-lg border border-gray-200" %>
        <div class="mt-4">
          <h2 class = "font-bold"><%= current_user.name %></h2>
        </div>
      </div>
      <div class="px-4 flex justify-center"> 
        <table>
          <tr class="flex flex-col items-center">   
            <th class="px-2 flex items-center space-x-2">
              <%= image_tag "sun.png", alt: '起床時間のアイコン'%>
             <p class="text-xs sm:text-lg">起床時間</p>
            </th>
            <% if current_user.wake_up_time.present? %>
              <td class="text-xs sm:text-lg font-bold"><%= current_user.wake_up_time&.strftime('%H:%M') %></td>
            <% else %>
              <td class="text-xs sm:text-lg">未設定</td>
            <% end %>
          </tr>

          <tr class="flex flex-col items-center">
            <th class="px-2 flex items-center space-x-2">
              <%= image_tag "moon.png", alt: '就寝時間のアイコン'%>
              <p class="text-xs sm:text-lg">就寝時間</p>
            </th>
            <% if current_user.bed_time.present? %>
              <td class="text-xs sm:text-lg font-bold"><%= current_user.bed_time&.strftime('%H:%M') %></td>
            <% else %>
              <td class="text-xs sm:text-lg">未設定</td>
            <% end %>
          </tr>

          <tr class="flex flex-col items-center">
            <th class="px-2 flex items-center space-x-2">
              <%= image_tag "sleep.png", alt: '睡眠時間のアイコン'%>
              <p class="text-xs sm:text-lg">睡眠時間</p>
            </th>

            <% if current_user.wake_up_time.present? && current_user.bed_time.present? %>
              <% wake_up_time = current_user.wake_up_time.hour * 60 + current_user.wake_up_time.min %> 
              <% bed_time = current_user.bed_time.hour * 60 + current_user.bed_time.min %>
              <% if wake_up_time < bed_time %>
                <% sleep_min = (24 * 60 - bed_time) + wake_up_time %>
              <% else %>
                <% sleep_min = wake_up_time - bed_time %>
              <% end %>
              <% sleep_hour = sleep_min / 60 %>
              <% sleep_min = sleep_min % 60 %>
              <td class="text-xs sm:text-lg font-bold"><%= format('%02d:%02d',sleep_hour, sleep_min) %></td>
            <% else %>
              <td class="text-xs sm:text-lg">未設定</td>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
    <div class ="my-8">
       <%= link_to "日記を書く", new_diary_path ,class: "bg-sky-100 rounded-lg px-6 py-2 hover:bg-sky-300 shadow-xl"%>
    </div>
    <div class="my-8">
      <%= link_to "プロフィールを編集", edit_profile_path ,class: "bg-gray-200 rounded-lg px-6 py-2 hover:bg-gray-300 shadow-xl"%>
    </div>


  </div>
  <div class="max-w-xl mx-auto border-b-2 mt-16">
    <div class = "mx-4 flex justify-between ">
      <%= link_to '日記', profile_path, class: "text-sm md:text-base flex items-center rounded-lg px-2 py-2 hover:bg-gray-300" %>
      <%= link_to item_likes_item_posts_path ,class: "text-sm md:text-base flex items-center rounded-lg px-2 py-2 hover:bg-gray-300" do%>
        <p>【アイテム】<br>いいね</p>
      <% end %>
      <%= link_to habit_likes_habit_posts_path ,class: "text-sm md:text-base flex items-center rounded-lg px-2 py-2 hover:bg-gray-300" do%>
        <p>【習慣】<br>いいね</p>
      <% end %>
    </div>
  </div>
  <div class = "overflow-x-auto max-w-xl mx-auto p-4 my-4">
    <% if @active_tab == "diaries" %> 
      <% if @diaries.present? %> 
        <table class="table-auto w-full">
        
        <!-- 投稿した日記一覧 -->
        <!-- テーブルの行にURLを含ませているため、クリックすると詳細画面へ遷移-->
          <% @diaries.each do |diary| %>
            <tr class="even:bg-white odd:bg-gray-100 shadow transition-transform duration-300 hover:scale-105" 
                data-url="<%= diary_path(diary) %>" 
                onclick="location.href='<%= diary_path(diary) %>';">
              <td class="p-6">
                <div class="text-xs font-bold"><%= diary.date.strftime("%Y") %></div>
                <div><%= diary.date.strftime("%m/%d") %></div>
              </td>
              <td class="p-6">
                <div class="text-lg"><%= diary.title %></div>
              </td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p class="text-center">投稿がありません</p>
      <% end %>

    <% elsif @active_tab == "item_likes" %>
      <h1 class="text-3xl font-bold mb-6 ">【アイテム】<br>いいねした投稿</h1>
      <div class = "flex justify-center my-12">
        <%= render 'item_posts/search_form', q: @q, url: item_likes_item_posts_path %>
      </div>
      <% if @item_like_posts.present? %>
        <div class="grid grid-cols-1 gap-6">
          <%= render @item_like_posts %>
        </div>
        <%= paginate @item_like_posts %>
      <% else %>
        <p class="text-gray-500 text-center">いいねした投稿はありません</p>
      <% end %>
  

    <% elsif @active_tab == "habit_likes" %>
      <h1 class="text-3xl font-bold mb-6 ">【習慣】<br>いいねした投稿</h1>
      <div class = "flex justify-center my-12">
        <%= render 'habit_posts/search_form', q: @q, url: habit_likes_habit_posts_path %>
      </div>
      <% if @habit_like_posts.present? %>
        <div class="grid grid-cols-1 gap-6">
          <%= render @habit_like_posts %>
        </div>
        <%= paginate @habit_like_posts %>
      <% else %>
        <p class="text-gray-500 text-center">いいねした投稿はありません</p>
      <% end %>
      <%= paginate @habit_like_posts %>
    <% else %>
      <p class="text-gray-500 text-center">いいねした投稿はありません</p>
    <% end %>
  </div>
</div>    


    



