<% content_for(:title, '新規登録画面') %>
<div class="max-w-lg mx-auto p-4">
  <h1 class="text-3xl font-bold my-20 text-center">新規登録画面</h1>
  <div class=" text-base my-4 text-center">
    <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false } do %>
      <div class="gsi-material-button-state"></div>
      <div class="gsi-material-button-content-wrapper flex items-center gap-4 bg-gray-200 rounded-lg px-6 py-2 hover:bg-gray-300 shadow-xl">
        <div class="gsi-material-button-icon w-6 h-6">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
            <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
            <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
            <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
            <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
            <path fill="none" d="M0 0h48v48H0z"></path>
          </svg>
        </div>
        <span class="gsi-material-button-contents">Googleで新規登録</span>
        <span style="display: none;">Googleで新規登録</span>
      </div>
    <% end %>
  </div>

  <div class="divider text-sm my-12">または</div>

  <!-- resourceは「現在操作しているユーザーのオブジェクト」を指す -->
  <%= form_with model: resource, url: user_registration_path, method: :post do |f| %>
    <%= render 'shared/error_message', object: f.object %>

    <div class="flex flex-col mb-6">
      <%= f.label :name, "名前", class: "text-lg font-medium text-gray-700 mb-2" %>  
      <%= f.text_field :name, placeholder: "ニックネーム可（6文字以内）", autofocus: true, class: "border border-gray-300 rounded-lg px-4 py-2 focus:ring focus:ring-blue-300 focus:outline-none" %>   
    </div>
  
    <div class="flex flex-col mb-6">
      <%= f.label :email, "メールアドレス", class: "text-lg font-medium text-gray-700 mb-2" %>  
      <%= f.email_field :email, class: "border border-gray-300 rounded-lg px-4 py-2 focus:ring focus:ring-blue-300 focus:outline-none" %>   
    </div>

    <div class="flex flex-col mb-6">     
      <%= f.label :password, "パスワード", class: "text-lg font-medium text-gray-700 mb-2" %>  
      <%= f.password_field :password, placeholder: "6文字以上", class: "border border-gray-300 rounded-lg px-4 py-2 focus:ring focus:ring-blue-300 focus:outline-none" %>   
    </div>
  
    <div class="flex flex-col mb-6">     
      <%= f.label :password_confirmation, "パスワード確認", class: "text-lg font-medium text-gray-700 mb-2" %>  
      <%= f.password_field :password_confirmation,  placeholder: "6文字以上", class: "border border-gray-300 rounded-lg px-4 py-2 focus:ring focus:ring-blue-300 focus:outline-none" %>   
    </div>

    <div class="text-center my-20"> 
      <%= f.submit "新規登録", class: "bg-sky-100 rounded-2xl px-6 py-2 hover:bg-sky-300 shadow-xl" %> 
    </div>
  <% end %>

 

  <div class="flex flex-col text-base my-4 text-center">
    <p>アカウントを持っている方はこちら</p>
    <%= link_to "ログイン", user_session_path, class: "hover:underline text-sky-500" %>
  </div>
</div>