<div class=" relative bg-gray-50 p-4 border rounded-lg shadow hover:border-gray-400 transition-300 cursor-pointer">
  <%= link_to item_post_path(item_post) do %>
    <div class= "absolute top-4 left-4 flex flex-row gap-4">
      <%= image_tag item_post.user.avatar.url , class:"w-8 h-8 rounded-full border border-gray-200" %>
      <p class="text-md text-gray-800"><%= item_post.user.name %></p>  <%# ここで余計なクエリが発行されないよう、indexアクションでincludesを使ってN+1問題を回避している %>
    </div>
    <div class= "absolute top-4 right-4">
      <p class="text-md text-gray-800"><%= item_post.created_at.strftime("%y/%m/%d %H:%M:%S") %></h1>
    </div>

    <!-- 選択した画像がある場合には画像を表示、なければグレーの画像を表示 -->
    <div class="flex justify-center mt-12"><!-- 投稿を横方向の中央に集める-->
      <% if item_post.item_post_image_url.present? %>
        <%= image_tag item_post.item_post_image_url, class: "w-72 h-48 object-cover", alt: "Item post image" %><!-- object-coverで余白を埋める-->
      <% else %>
        <div class="w-72 h-48 bg-gray-200"></div>
      <% end %>
    </div>
  <% end %>
  <%= link_to item_post.title, item_post_path(item_post), class: 'text-2xl font-bold text-gray-800 hover:bg-gray-300' %>

  <p class="text-sm text-gray-500 m-8"><%= item_post.body.truncate(100) %></p>
  <div class="absolute bottom-5 left-4 flex items-center gap-6">
    <!-- @item_postとしなくていい理由は、indexからrenderでローカル変数item_postをこのファイルに渡しているから定義されている -->
    <!-- Userモデルで定義した「own?」を使用し、(item_post)で「own?メソッド」に引数を渡して、この投稿が現在ログインしているユーザーのものかどうかを見極めている -->
    <!-- 一致すれば「true」でif文以降を表示し、「false」の場合は表示しない -->
    <% if current_user && current_user.own?(item_post) %>  
      <div>
        <%= link_to edit_item_post_path(item_post), data: { turbo: false } do %>
          <i class="fa-solid fa-pencil align-middle"></i>
        <% end %>
      </div>
      <div>
        <%= link_to item_post_path(item_post), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } do %>
          <i class="fa-solid fa-trash align-middle"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if item_post.item_tag.present? %>
    <div class="absolute bottom-5 left-1/2 transform -translate-x-1/2 ">
      <p class = "bg-white text-xs border border-black rounded-[10px] px-2"><%= item_post.item_tag.name %></p>
    </div>
  <% end %>

  <div class="absolute bottom-4 right-14 z-10">
    <%= render 'item_like_bottons', {item_post: item_post} %>
  </div>

  <div class="absolute bottom-4 right-3 text-lg">
    <i class="fa-regular fa-comment"></i>
    <%= item_post.item_comments.count %>
  </div>
</div>