<% content_for(:title, '人気のアイテム投稿') %>
<div class="container mx-auto text-center p-4">
  <h1 class="text-3xl font-bold my-20">人気のアイテム投稿 <br>（上位5件）</h1>
  <table class="table-auto mx-auto text-center my-16">
    <tr class = "text-xs md:text-base lg:text-xl">
      <th class = "px-4 py-2 border-b border-black/80 whitespace-nowrap">順位</th>
      <th class = "px-4 py-2 border-b border-black/80 whitespace-nowrap" >タイトル</th>
      <th class = "px-4 py-2 border-b border-black/80 whitespace-nowrap">ユーザー</th>
      <th class = "px-4 py-2 border-b border-black/80 whitespace-nowrap">いいね数</th>
    </tr>

    <% i = 0 %>
    <% @item_post_ranking.each do |rank| %>
      <% i += 1 %>
      <% if i == 1 %>
        <!-- ionclick="locationで 行をクリックした際に実行されるジャバスクリプトを埋め込み、その遷移先を指定-->
        <tr class = "text-xs md:text-base lg:text-xl bg-gray-100 shadow transition-transform duration-300 hover:scale-105"
          data-action="click->loading#show"
          onclick="location.href='<%= item_post_path(rank) %>';">
          <td class = "flex flex-row items-center justify-center gap-2 py-4"><%= image_tag "gold.png", alt: '金の冠のアイコン', class: "w-4 h-4 md:w-6 md:h-6 lg:w-8 lg:h-8" %><%= "#{i}" %></td>
          <td class = "py-4 font-bold text-gray-800"><%= rank.title %></td>
          <td class = "py-4"><%= rank.user.name %></td>
          <td class = "py-4"><%= rank.item_likes_count %></td>
        </tr>
      <% elsif i == 2 %>
        <!-- ionclick="locationで 行をクリックした際に実行されるジャバスクリプトを埋め込み、その遷移先を指定-->
        <tr class = "text-xs md:text-base lg:text-xl bg-white shadow transition-transform duration-300 hover:scale-105"
          data-action="click->loading#show"
          onclick="location.href='<%= item_post_path(rank) %>';">
          <td class = "flex flex-row items-center justify-center gap-2 py-4"><%= image_tag "silver.png", alt: '銀の冠のアイコン', class: "w-4 h-4 md:w-6 md:h-6 lg:w-8 lg:h-8" %><%= "#{i}" %></td>
          <td class = "py-4 font-bold text-gray-800"><%= rank.title %></td>
          <td class = "py-4"><%= rank.user.name %></td>
          <td class = "py-4"><%= rank.item_likes_count %></td>
        </tr>
      <% elsif i == 3 %>
        <!-- ionclick="locationで 行をクリックした際に実行されるジャバスクリプトを埋め込み、その遷移先を指定-->
        <tr class = "text-xs md:text-base lg:text-xl bg-gray-100 shadow transition-transform duration-300 hover:scale-105"
          data-action="click->loading#show"
          onclick="location.href='<%= item_post_path(rank) %>';">
          <td class = "flex flex-row items-center justify-center gap-2 py-4"><%= image_tag "bronze.png", alt: '銅の冠のアイコン', class: "w-4 h-4 md:w-6 md:h-6 lg:w-8 lg:h-8" %><%= "#{i}" %></td>
          <td class = "py-4 font-bold text-gray-800"><%= rank.title %></td>
          <td class = "py-4"><%= rank.user.name %></td>
          <td class = "py-4"><%= rank.item_likes_count %></td>
        </tr>
      <% else %>
        <!-- ionclick="locationで 行をクリックした際に実行されるジャバスクリプトを埋め込み、その遷移先を指定-->
        <tr class = "text-xs md:text-base lg:text-xl odd:bg-white even:bg-gray-100 shadow transition-transform duration-300 hover:scale-105"
          data-action="click->loading#show"
          onclick="location.href='<%= item_post_path(rank) %>';">
          <td class = "flex flex-row items-center justify-center gap-2 py-4"><%= "#{i}" %></td>
          <td class = "py-4 font-bold text-gray-800"><%= rank.title %></td>
          <td class = "py-4"><%= rank.user.name %></td>
          <td class = "py-4"><%= rank.item_likes_count %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>