<!-- 復習済み -->
<header class="bg-sky-100 p-4 w-full">     <!-- 背景を水色(100)、pでパディング（要素の内側）の全方向に4の余白 -->
  <!-- 「justify-between」で子要素を横方向の中央揃え、「items-center」で子要素を縦方向の中央揃えにする（それ以降は大きさに応じて変更している） --> 
  <nav class="container mx-auto flex justify-between items-center px-8 md:px-14 lg:px-24">
    <div class ='btn btn-ghost text-3xl font-bold'>
      <%= link_to 'Good-Sleep-Joy', root_path %>
    </div>
    <!-- md(768px)以上の時は表示される -->
    <div class="space-x-4 hidden md:flex">
      <!-- 「user_signed_in?」はDeviseが提供するヘルパーメソッド、ログインしている場合は「true」、ログインしてない場合は「false」-->
      <% if user_signed_in? %>
      <!-- 「data: { turbo_method: :delete }」について、のちに要確認-->
        <div class="flex flex-col items-center btn btn-ghost"> 
          <i class="fa-solid fa-right-from-bracket"></i>
          <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'ログアウトしますか？' } %>
        </div>
        <div class="flex flex-col items-center btn btn-ghost"> 
          <i class="fa-solid fa-user "></i>
          <%= link_to 'マイページ', profile_path %>
        </div>
      <% else %>
        <div class="flex flex-col items-center btn btn-ghost"> 
          <i class="fa-solid fa-user"></i>
         <%= link_to '新規登録', new_user_registration_path%>
        </div>
        <div class="flex flex-col items-center btn btn-ghost">  
          <i class="fa-solid fa-right-to-bracket"></i>
          <%= link_to 'ログイン',  new_user_session_path %>
        </div>
      <% end %>
    </div>
    <!-- md(768px)以上の時はこのハンバーガーメニューがhidden（隠れる）する -->
    <!-- ただし今現在はハンバーガーを押しても何も表示されない（例えばスマホサイズだと何もできない） -->
    <div class="md:hidden">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>
</header>
