<header class="bg-sky-100 p-4">
  <div class="navbar container mx-auto flex justify-between items-center  px-8 md:px-14 lg:px-24 w-full">
    <div class ='btn btn-ghost text-3xl font-bold'>
      <%= link_to 'Good-Sleep-Joy', root_path %>
    </div>
    <!-- md(768px)以上の時は表示される -->
    <div class="space-x-4 hidden md:flex">
      <!-- 「user_signed_in?」はDeviseが提供するヘルパーメソッド、ログインしている場合は「true」、ログインしてない場合は「false」-->
      <% if user_signed_in? %>
      <!-- 「data: { turbo_method: :delete }」について、のちに要確認-->
        <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'ログアウトしますか？' }, class: 'btn btn-ghost' %>
        <%= link_to 'マイページ（MVPでは未実装）', '#', class: 'btn btn-ghost' %>
      <% else %>
        <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-ghost' %>
        <%= link_to 'ログイン',  new_user_session_path, class: 'btn btn-ghost' %>
      <% end %>
    </div>
    <!-- md(768px)以上の時はこのハンバーガーメニューがhidden（隠れる）する -->
    <!-- ただし今現在はハンバーガーを押しても何も表示されない（例えばスマホサイズだと何もできない） -->
    <div class="md:hidden">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>
</header>
