<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class= "flex flex-col min-h-screen">
    <%= render 'shared/header' %>
    <%= render 'shared/flash_message' %>
    <!-- flex-grow:main のコンテンツが少ない場合でも、フッターが自然にページの一番下に配置される  -->
    <div class="flex-grow">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
