<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <%= favicon_link_tag('/favicon.ico') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    
    <!-- 動的OGPを表示 -->
    <%= show_meta_tags %>
  
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9Z13GST74K"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9Z13GST74K');
    </script>
  </head>

  <body class= "flex flex-col min-h-screen">
    <!-- 全てのページでローディングアニメーションが表示されるように記述 -->
    <div data-controller="loading">
      <div data-loading-target="spinner" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-40 hidden">
        <div class="h-[150px] w-[150px] flex items-center justify-center">
          <span class="loading loading-spinner text-default w-full h-full"></span>
        </div>
      </div>
      <%= render 'shared/header' %>
      <%= render 'shared/flash_message' %>

      <!-- flex-grow:main のコンテンツが少ない場合でも、フッターが自然にページの一番下に配置される  -->
      <div class="flex-grow">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
