<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <% if notice %>
      <!--Tailwind使用してフラッシュメッセージを編集（成功時はbg-green-100で緑）-->
      <!--Tailwind使用しなくても、デフォルトで緑で表示する方法あるか調べる-->
      <p class="notice bg-green-100 text-xl h-16 flex items-center justify-center"><%= notice %></p>
    <% elsif alert %>
      <p class="alert text-xl h-16 flex items-center justify-center"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
